<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>especialMeteor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>especialMeteor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>especialMeteor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>especialMeteor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>especialMeteor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>especialMeteor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>especialMeteor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>especialMeteor_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>especialMeteor.png</string>
            <key>size</key>
            <string>{56,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eddd6cb68b14843f5d6d1033e2d6d7c:d60a1bf0c056136fc20ea3cd2d25ecfd:e2950145121f46f58e5ac7310a6dfa19$</string>
            <key>textureFileName</key>
            <string>especialMeteor.png</string>
        </dict>
    </dict>
</plist>
