<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>movementSpeed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>movementSpeed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>movementSpeed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>movementSpeed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>movementSpeed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>movementSpeed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>movementSpeed_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>movementSpeed.png</string>
            <key>size</key>
            <string>{37,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2116f88cc9abf9f4fe3d875c303bd79:217615d5e42d22af87454a92bf194998:9f984548c2cbb3a3de2eff0c0581cc56$</string>
            <key>textureFileName</key>
            <string>movementSpeed.png</string>
        </dict>
    </dict>
</plist>
